<%- include("partials/header"); -%>
  
<!-- background-color: #1ea51e; -->

    <div class="section2" style=" ">
        <div style="padding: 25px;" > 
        <h2>FinCHAfin is Social for-profit Organization which aims to Empower Citizens Financially.
        </h2><br>
        <p>
          At FinCHAfin , we are passionate about improving the quality of life of people and making
  them financially empowered. People taking control of their finance in their own hand , and they being
  educated into financial literacy and intelligence, people can prepare better for themselves and provide
  better for themselves .
  <br><br>
  What is financial empowerment and why you need it ?<br><br>
  Financial empowerment is the ability to make wise financial decsisons and to learn the skill of making
  money for yourself and generating wealth for you and your loved ones.<br><br>
  Finnanical empowerment consist of 3 things, Finnancial intelligence , IQ and literacy.
  The ability of a person to create multiple or new source of money for himself is called finnanical
  intelligence.<br>
  The ability or skill to manage money is called finnaical IQ<br>
  The skill of knowing the basic of finance terminology and knowing about various investment avenue &
  how it affects you and your finance and how you can make use of investment avenue to become
  wealthy is finnanical literacy,<br><br>
  With the unique combination of these 3 qualities or abilities , one become finnancialy empowered. We
  at finchafin works to develop a person these 3 unique quality or ability or skill. 
        </p><br><br>
        <h1>  What we do</h1><ol>
          <li>Finnancil empowerment developerment</li>
          <li>Investment avenue services</li>
          <li>Investment management portfolio </li>
          <li>News </li>
          <li>Social media/community forum to connect with like minded people and ask question and
            learn.</li>
        </ol>
      </div></div>

 
  
<%- include("partials/footer"); -%>
