<%- include("partials/header"); -%>
    
<div class="section3" style=" height: 100vh; margin-bottom: 0px;">
    <div style="padding: 25px;" >    <h1>FAQ's</h1>
    <p> <%= startingContent %> </p> </div>
  </div>
<%- include("partials/footer"); -%>
<!-- background-color: burlywood; -->