
<%- include("partials/header"); -%>



   
    <div style="height:900px; ">
     <div style="padding: 25px;" >
      <h1>Freedom throgh financial empowerment</h1>
      <p> <%= startingContent %> </p>
    </div>
    </div>
    



<!--    
    background-color: cadetblue;
    -->
 
    

<%- include("partials/footer"); -%>
