<%- include("partials/header"); -%>

   
   
    <!-- <form style="margin-top: 50px;" class="" action="/" method="POST">
        <label for="stockInput">SEARCH STOCK</label>
        <input id="stockInput" type="text" name="stockSymbole">
        <button type="submit">SEARCH</button>
    </form> -->
 
    <p style="margin-top: 50px;"> <%= contactContent %> </p>
  
<%- include("partials/footer"); -%>
