<%- include("partials/header"); -%>
<div  class="section1" style="height: 100vh; ">
    <div style="padding: 25px;" > <h1>News</h1>
    <p> <%= startingContent %> </p>
  </div></div>
  
<%- include("partials/footer"); -%>
<!-- background-color:rgb(206, 14, 206); -->